In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
# Preprocess the data
# Drop irrelevant columns

data = data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])
print('Shape of the data after dropping columns:', data.shape)
data.head()

Shape of the data after dropping columns: (10000, 11)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Encode categorical data

data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [5]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [6]:
data['Geography'].value_counts()

# We won't use label encoding for this dataset because Geography has  multiple values and each value will have 1,2,3 like this. The model can think 3 has higher value than 1 and 2 and vice versa.

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
# One-hot encoding for Geography column

from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder()

one_hot_encoded_data = one_hot_encoder.fit_transform(data[['Geography']])

In [8]:
one_hot_encoded_data.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [9]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_one_hot_encoded = pd.DataFrame(data = one_hot_encoded_data.toarray(), columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_one_hot_encoded.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [11]:
# Combine one hot encoded columns with original data

data = pd.concat([data.drop(columns=['Geography']), geo_one_hot_encoded], axis=1)

data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
X = data.drop(['EstimatedSalary'], axis=1)
y = data['EstimatedSalary']

# Splitting the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print('Xtrain shape:', X_train.shape)
print('Xtest shape:', X_test.shape)
print('ytrain shape:', y_train.shape)
print('ytest shape:', y_test.shape)

Xtrain shape: (8000, 12)
Xtest shape: (2000, 12)
ytrain shape: (8000,)
ytest shape: (2000,)

In [13]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X_test

array([[-0.55204276, -1.09168714, -0.36890377, ..., -1.01460667,
         1.75486502, -0.57369368],
       [-1.31490297, -1.09168714,  0.10961719, ...,  0.98560362,
        -0.5698444 , -0.57369368],
       [ 0.57162971, -1.09168714,  0.30102557, ..., -1.01460667,
        -0.5698444 ,  1.74309049],
       ...,
       [-0.74791227,  0.91601335, -0.27319958, ..., -1.01460667,
        -0.5698444 ,  1.74309049],
       [-0.00566991,  0.91601335, -0.46460796, ..., -1.01460667,
         1.75486502, -0.57369368],
       [-0.79945688,  0.91601335, -0.84742473, ..., -1.01460667,
         1.75486502, -0.57369368]])

In [16]:
# Save the encoders and scalers

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder, file)

# Save scaler
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [19]:
# Build ANN model

model = Sequential(
    [
        Dense(64, activation="relu", input_shape=(X_train.shape[1],)),  # HL1 Connected with input layet
        Dense(32, activation="relu"),  # HL2 Connected with HL1
        Dense(1) # Output layer, by default it uses linear activation function  
    ]
)

In [21]:
# Compile the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Setup the Tensorboard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
# Setup Early Stopping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [25]:
# Train the model

history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100,
                    callbacks=[tensorflow_callback, early_stopping_callback])

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 100106.7969 - mae: 100106.7969 - val_loss: 99511.3594 - val_mae: 99511.3594
Epoch 2/100
250/250 [==============================] - 0s 973us/step - loss: 99234.8516 - mae: 99234.8516 - val_loss: 97767.1328 - val_mae: 97767.1328
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96238.4141 - mae: 96238.4141 - val_loss: 93400.6875 - val_mae: 93400.6875
Epoch 4/100
250/250 [==============================] - 0s 937us/step - loss: 90435.4844 - mae: 90435.4844 - val_loss: 86210.7969 - val_mae: 86210.7969
Epoch 5/100
250/250 [==============================] - 0s 903us/step - loss: 82129.4922 - mae: 82129.4922 - val_loss: 77038.0547 - val_mae: 77038.0547
Epoch 6/100
250/250 [==============================] - 0s 866us/step - loss: 72626.0625 - mae: 72626.0625 - val_loss: 67741.9844 - val_mae: 67741.9844
Epoch 7/100
250/250 [==============================] - 0s 920us/step - loss: 63819.0469 - mae: 63819.0469 - val_loss: 60030.3594 - val_mae: 60030.3594
Epoch 8/100
250/250 [==============================] - 0s 993us/step - loss: 57237.4141 - mae: 57237.4141 - val_loss: 54863.8945 - val_mae: 54863.8945
Epoch 9/100
250/250 [==============================] - 0s 818us/step - loss: 53361.7031 - mae: 53361.7031 - val_loss: 52129.2617 - val_mae: 52129.2617
Epoch 10/100
250/250 [==============================] - 0s 820us/step - loss: 51489.3516 - mae: 51489.3516 - val_loss: 50913.5938 - val_mae: 50913.5938
Epoch 11/100
250/250 [==============================] - 0s 837us/step - loss: 50729.5586 - mae: 50729.5586 - val_loss: 50474.2070 - val_mae: 50474.2070
Epoch 12/100
250/250 [==============================] - 0s 873us/step - loss: 50429.3984 - mae: 50429.3984 - val_loss: 50296.8828 - val_mae: 50296.8828
Epoch 13/100
250/250 [==============================] - 0s 833us/step - loss: 50291.1484 - mae: 50291.1484 - val_loss: 50214.7461 - val_mae: 50214.7461
Epoch 14/100
250/250 [==============================] - 0s 801us/step - loss: 50213.9414 - mae: 50213.9414 - val_loss: 50147.1914 - val_mae: 50147.1914
Epoch 15/100
250/250 [==============================] - 0s 797us/step - loss: 50145.1367 - mae: 50145.1367 - val_loss: 50095.9688 - val_mae: 50095.9688
Epoch 16/100
250/250 [==============================] - 0s 885us/step - loss: 50089.9023 - mae: 50089.9023 - val_loss: 50052.6836 - val_mae: 50052.6836
Epoch 17/100
250/250 [==============================] - 0s 799us/step - loss: 50041.7891 - mae: 50041.7891 - val_loss: 50020.6250 - val_mae: 50020.6250
Epoch 18/100
250/250 [==============================] - 0s 794us/step - loss: 50000.9727 - mae: 50000.9727 - val_loss: 49987.7031 - val_mae: 49987.7031
Epoch 19/100
250/250 [==============================] - 0s 832us/step - loss: 49962.8789 - mae: 49962.8789 - val_loss: 49959.8242 - val_mae: 49959.8242
Epoch 20/100
250/250 [==============================] - 0s 866us/step - loss: 49932.4453 - mae: 49932.4453 - val_loss: 49938.8320 - val_mae: 49938.8320
Epoch 21/100
250/250 [==============================] - 0s 871us/step - loss: 49901.7852 - mae: 49901.7852 - val_loss: 49919.7930 - val_mae: 49919.7930
Epoch 22/100
250/250 [==============================] - 0s 893us/step - loss: 49874.1484 - mae: 49874.1484 - val_loss: 49908.6289 - val_mae: 49908.6289
Epoch 23/100
250/250 [==============================] - 0s 928us/step - loss: 49851.5234 - mae: 49851.5234 - val_loss: 49904.6328 - val_mae: 49904.6328
Epoch 24/100
250/250 [==============================] - 0s 922us/step - loss: 49829.1133 - mae: 49829.1133 - val_loss: 49895.8047 - val_mae: 49895.8047
Epoch 25/100
250/250 [==============================] - 0s 921us/step - loss: 49811.4648 - mae: 49811.4648 - val_loss: 49886.8047 - val_mae: 49886.8047
Epoch 26/100
250/250 [==============================] - 0s 893us/step - loss: 49793.0703 - mae: 49793.0703 - val_loss: 49875.5273 - val_mae: 49875.5273
Epoch 27/100
250/250 [==============================] - 0s 874us/step - loss: 49777.9414 - mae: 49777.9414 - val_loss: 49875.1055 - val_mae: 49875.1055
Epoch 28/100
250/250 [==============================] - 0s 853us/step - loss: 49760.1523 - mae: 49760.1523 - val_loss: 49864.1367 - val_mae: 49864.1367
Epoch 29/100
250/250 [==============================] - 0s 928us/step - loss: 49743.8633 - mae: 49743.8633 - val_loss: 49858.6328 - val_mae: 49858.6328
Epoch 30/100
250/250 [==============================] - 0s 817us/step - loss: 49729.3594 - mae: 49729.3594 - val_loss: 49855.8711 - val_mae: 49855.8711
Epoch 31/100
250/250 [==============================] - 0s 794us/step - loss: 49715.6953 - mae: 49715.6953 - val_loss: 49851.7539 - val_mae: 49851.7539
Epoch 32/100
250/250 [==============================] - 0s 827us/step - loss: 49704.2227 - mae: 49704.2227 - val_loss: 49847.0859 - val_mae: 49847.0859
Epoch 33/100
250/250 [==============================] - 0s 823us/step - loss: 49693.3711 - mae: 49693.3711 - val_loss: 49849.6875 - val_mae: 49849.6875
Epoch 34/100
250/250 [==============================] - 0s 829us/step - loss: 49682.8633 - mae: 49682.8633 - val_loss: 49846.7422 - val_mae: 49846.7422
Epoch 35/100
250/250 [==============================] - 0s 805us/step - loss: 49673.0078 - mae: 49673.0078 - val_loss: 49843.6523 - val_mae: 49843.6523
Epoch 36/100
250/250 [==============================] - 0s 802us/step - loss: 49660.2227 - mae: 49660.2227 - val_loss: 49841.2695 - val_mae: 49841.2695
Epoch 37/100
250/250 [==============================] - 0s 832us/step - loss: 49648.8555 - mae: 49648.8555 - val_loss: 49839.0117 - val_mae: 49839.0117
Epoch 38/100
250/250 [==============================] - 0s 800us/step - loss: 49640.5039 - mae: 49640.5039 - val_loss: 49838.1680 - val_mae: 49838.1680
Epoch 39/100
250/250 [==============================] - 0s 815us/step - loss: 49631.2539 - mae: 49631.2539 - val_loss: 49834.2109 - val_mae: 49834.2109
Epoch 40/100
250/250 [==============================] - 0s 890us/step - loss: 49625.4375 - mae: 49625.4375 - val_loss: 49837.0781 - val_mae: 49837.0781
Epoch 41/100
250/250 [==============================] - 0s 798us/step - loss: 49613.0625 - mae: 49613.0625 - val_loss: 49832.4297 - val_mae: 49832.4297
Epoch 42/100
250/250 [==============================] - 0s 848us/step - loss: 49606.0938 - mae: 49606.0938 - val_loss: 49835.0742 - val_mae: 49835.0742
Epoch 43/100
250/250 [==============================] - 0s 952us/step - loss: 49599.8789 - mae: 49599.8789 - val_loss: 49836.0664 - val_mae: 49836.0664
Epoch 44/100
250/250 [==============================] - 0s 907us/step - loss: 49592.5664 - mae: 49592.5664 - val_loss: 49829.7344 - val_mae: 49829.7344
Epoch 45/100
250/250 [==============================] - 0s 923us/step - loss: 49586.7617 - mae: 49586.7617 - val_loss: 49836.6289 - val_mae: 49836.6289
Epoch 46/100
250/250 [==============================] - 0s 916us/step - loss: 49580.3242 - mae: 49580.3242 - val_loss: 49829.2383 - val_mae: 49829.2383
Epoch 47/100
250/250 [==============================] - 0s 902us/step - loss: 49572.5977 - mae: 49572.5977 - val_loss: 49827.3320 - val_mae: 49827.3320
Epoch 48/100
250/250 [==============================] - 0s 917us/step - loss: 49566.7344 - mae: 49566.7344 - val_loss: 49833.5547 - val_mae: 49833.5547
Epoch 49/100
250/250 [==============================] - 0s 874us/step - loss: 49560.1445 - mae: 49560.1445 - val_loss: 49831.3477 - val_mae: 49831.3477
Epoch 50/100
250/250 [==============================] - 0s 858us/step - loss: 49555.0195 - mae: 49555.0195 - val_loss: 49828.5039 - val_mae: 49828.5039
Epoch 51/100
250/250 [==============================] - 0s 851us/step - loss: 49547.8750 - mae: 49547.8750 - val_loss: 49832.7617 - val_mae: 49832.7617
Epoch 52/100
250/250 [==============================] - 0s 814us/step - loss: 49539.8047 - mae: 49539.8047 - val_loss: 49832.8398 - val_mae: 49832.8398
Epoch 53/100
250/250 [==============================] - 0s 890us/step - loss: 49540.0508 - mae: 49540.0508 - val_loss: 49828.0039 - val_mae: 49828.0039
Epoch 54/100
250/250 [==============================] - 0s 795us/step - loss: 49530.8398 - mae: 49530.8398 - val_loss: 49831.5742 - val_mae: 49831.5742
Epoch 55/100
250/250 [==============================] - 0s 817us/step - loss: 49525.4141 - mae: 49525.4141 - val_loss: 49837.5586 - val_mae: 49837.5586
Epoch 56/100
250/250 [==============================] - 0s 792us/step - loss: 49521.0859 - mae: 49521.0859 - val_loss: 49839.4453 - val_mae: 49839.4453
Epoch 57/100
250/250 [==============================] - 0s 806us/step - loss: 49516.6172 - mae: 49516.6172 - val_loss: 49836.2422 - val_mae: 49836.2422

In [26]:
# Load Tensorboard Extension
%load_ext tensorboard

In [28]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 33644), started 0:00:29 ago. (Use '!kill 33644' to kill it.)

In [29]:
model.save('model.h5')

/Users/nkejriwal/Documents/Learning/DL_ANN/learn_env/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [30]:
# Evaluate the model based on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)

print(f'Test MAE: {test_mae:.2f}')

63/63 [==============================] - 0s 433us/step - loss: 49827.3320 - mae: 49827.3320
Test MAE: 49827.33

In [31]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [32]:
X['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64